
// fonts
$pri-font: "Ysabeau Infant", sans-serif;

// logos
$logo-symbol: url("../assets/logoSymbol.png");
$logo-text-white: url("../assets/logo-text-white.png");
$logo-text-black: url("../assets/logo-text-dark.png");

// colors
$dark-blue: #1d3557;
$blue: #457b9d;
$light-blue: #a8dadc;
$white-ish: #f1faee;
$red-ish: #e63946;

// images
$bg-image: url("https://lh3.googleusercontent.com/pw/AJFCJaVz0yC3PZPFhqoXimgjOofPpzhK8-7uu-BgNOU4oJnZZ3s5vt0eHTvTUYul8cHM22TrOq0Waks4qQ187_82bK2EBao0QcbdrZU2d5FbSaaRAdLIFT58pWcv4rK1Bus5roTSftY-dF6Sp9f_S6DcCJVks7-vMe2UFXd0bENFggacy2YwgUp5cZkzzjy95HIeGOud86rGQKoXjGeh6X7vYzAG94-VCuP3D7gXffWBcS4WqsFhFbbQpmJawEBA9E8IgENWGYV3XtBSKIVININmFBYxOyZNUH05TQOyB1uQvY_KXLqkSP96i8a9yDF83QAllOLCq5bUFGddP4y9G8JVKlEF6q60A1QMat6SVWbujsZtFHQdWmV866ZnHRZyW7DfutsTmHAXkH_vQQRhNx3YzxCM0Zz_u78s6XBebCrii5lQLLKkQFcu_O9aUqW0JzBEhfhouEcl4Hn7BcEnuke7prMUbwqFlsd0jC2ISoBh1GyLIGVXK1qVZvxSvF9BMDoFrloXmVwKNMb6oRK5bdNbzC0fP9c-yOrXGV-M9HnkG3JERtbTfCx9jcfo174O6W_khzryLcdTPBfkbUG7dLqxzXjGJEUq3n6-h8zmAWbEbBw-3ddUNF98P39aPc6rKmPPZp5ifV9VrUyhnxIaSkRmpXiVF6H-0jEylCnHoEW4nFLQtB8IRFEtTaFe2Dqv0jDCOjdr61abApEw8qFBtT25cBFmpUyBU191BpjT6PakSEBg5o-alVqylNTdEyHjzQv0pDO1GWVJlzHLVGUV4fYr7tdFAQcVjYKEeUMBESCyR_ovjNz8xMi2KcrzhjcFLqrW6rpO3IzBrkwQwbPV7hkxNWL0L6jMSiYphQwW7v0ZQ4KxoPzZqESDiczD2qd4xacxoMGkCChkrzv5yblxEWGMKeR4S-rfgmgjP58kKyYmv84_Vf8tTjo1egG9xrYDKVw=w633-h422-no?authuser=0");

@mixin w-h($size) {
  height: $size;
  width: $size;
}

@mixin pos-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
