@import "globals";

html {
  font-family: $pri-font;
}

body {
  height: 100vh;
  position: relative;
  background: url(https://lh3.googleusercontent.com/pw/AJFCJaVz0yC3PZPFhqoXimgjOofPpzhK8-7uu-BgNOU4oJnZZ3s5vt0eHTvTUYul8cHM22TrOq0Waks4qQ187_82bK2EBao0QcbdrZU2d5FbSaaRAdLIFT58pWcv4rK1Bus5roTSftY-dF6Sp9f_S6DcCJVks7-vMe2UFXd0bENFggacy2YwgUp5cZkzzjy95HIeGOud86rGQKoXjGeh6X7vYzAG94-VCuP3D7gXffWBcS4WqsFhFbbQpmJawEBA9E8IgENWGYV3XtBSKIVININmFBYxOyZNUH05TQOyB1uQvY_KXLqkSP96i8a9yDF83QAllOLCq5bUFGddP4y9G8JVKlEF6q60A1QMat6SVWbujsZtFHQdWmV866ZnHRZyW7DfutsTmHAXkH_vQQRhNx3YzxCM0Zz_u78s6XBebCrii5lQLLKkQFcu_O9aUqW0JzBEhfhouEcl4Hn7BcEnuke7prMUbwqFlsd0jC2ISoBh1GyLIGVXK1qVZvxSvF9BMDoFrloXmVwKNMb6oRK5bdNbzC0fP9c-yOrXGV-M9HnkG3JERtbTfCx9jcfo174O6W_khzryLcdTPBfkbUG7dLqxzXjGJEUq3n6-h8zmAWbEbBw-3ddUNF98P39aPc6rKmPPZp5ifV9VrUyhnxIaSkRmpXiVF6H-0jEylCnHoEW4nFLQtB8IRFEtTaFe2Dqv0jDCOjdr61abApEw8qFBtT25cBFmpUyBU191BpjT6PakSEBg5o-alVqylNTdEyHjzQv0pDO1GWVJlzHLVGUV4fYr7tdFAQcVjYKEeUMBESCyR_ovjNz8xMi2KcrzhjcFLqrW6rpO3IzBrkwQwbPV7hkxNWL0L6jMSiYphQwW7v0ZQ4KxoPzZqESDiczD2qd4xacxoMGkCChkrzv5yblxEWGMKeR4S-rfgmgjP58kKyYmv84_Vf8tTjo1egG9xrYDKVw=w633-h422-no?authuser=0)
    // background: url(../assets/elegant-man-car-salon.jpg)
    // background: url(../assets/man-checking-car-engine.jpg)
    no-repeat center center / cover;


  .black-bg {
    background: black;
    @include w-h(100%);
    position: absolute;
    opacity: 0.4;
  }

  .logo {
    width: 15rem;

    * {
      width: 100%;
    }
  }
}

.btns-container {
  .btn {
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: calc(1em + 2px) calc(2.5em + 2px);
    border-radius: 0.4rem;
    transition: 0.3s;
    border: none;
    font-weight: 700;

    -webkit-box-reflect: below 4px
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }

  .cta {
    color: $white-ish;
    background-color: #1d3557;
    box-shadow: 0px 0px 60px #1f4c65;
  }

  .cta:active {
    scale: 0.92;
  }

  .cta:hover {
    background: $dark-blue;
    background: linear-gradient(
      270deg,
      #021d4ea3 0%,
      $light-blue 60%
    );
    color: rgb(4, 4, 38);
  }

  .login {
    color: $white-ish;
    padding: 1em 2.5em;
    background: transparent;
    border: 2px solid $dark-blue;
  }
}
